---
import '../App.css';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.tsx';
import Navbar from '../components/Navbar';
import Projects from '../components/Projects.astro';
import Welcome from '../components/Welcome.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='google' content='notranslate' />
    <meta http-equiv='Content-Language' content='en_US' />
    <link rel='icon' type='image/svg+xml' href='./favicon.webp' />
    <meta
      name='description'
      content='My portfolio. Who I am, where I studied, some of my skills and projects that I had been developed.'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />

    <title>Valencia Arcega &mdash; Portfolio</title>
  </head>
  <body>
    <Welcome />
    <Projects />
    <Experience />
    <Footer />
    <Navbar client:load />
  </body>
</html>
