---
import Welcome from "../components/Welcome.astro";
import Knowledges from "../components/Knowledges.astro";
import "../App.css";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Topbar from "../components/Topbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta
      name="description"
      content="This is my portfolio, that can help people that is interested in to know who I am, where I studied, also some of my skills and projects that I had developed."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Portfolio - ValenciaArcega</title>
  </head>
  <body>
    <Welcome />
    <Knowledges />
    <Projects />
    <Experience />
    <Contact />
    <Footer />
    <Navbar />
    <Topbar />

    <script>
      let root = document.documentElement;
      // let root = document.querySelector(":root");
      const btnMobileDark = document.querySelector(".topBar-btnDark");
      const btnMobileLight = document.querySelector(".topBar-btnLight");

      const btnDesktopDark = document.querySelector(".navBar-desktop-btnDark");
      const btnDesktopLight = document.querySelector(
        ".navBar-desktop-btnLight"
      );

      export function makeDark() {
        root.id = "rootDarkMode";
        /*root.style.setProperty("--white", "#121212");
        root.style.setProperty("--black12", "white");
        root.style.setProperty("--bgCardKnowledges", "#131313");
        root.style.setProperty("--mainColor", "#B1BFF7");
        root.style.setProperty("--borderNavBar", "#353535");
        root.style.setProperty("--borderCardContact", "#353535");
        root.style.setProperty("--btnExpand", "#1b1b1b");
        root.style.setProperty("--bg-navbar-desktop", "#33333333");

        root.style.setProperty("--bg-firstCircle", "#24437b");
        root.style.setProperty("--bg-secondCircle", "#2e0e36");

        root.style.setProperty("--bg-cardSkill", "#12121253");
        root.style.setProperty("--border-cardSkill", "#5c5b5b4b");*/

        btnMobileDark.classList.add("hidden");
        btnMobileLight.classList.remove("hidden");

        btnDesktopDark.classList.add("hidden");
        btnDesktopLight.classList.remove("hidden");
      }

      export function makeLight() {
        root.removeAttribute("id");
        /*root.style.setProperty("--white", "white");
        root.style.setProperty("--black12", "#121212");
        root.style.setProperty("--mainColor", "#4263eb");
        root.style.setProperty("--borderNavBar", "transparent");
        root.style.setProperty("--borderCardContact", "#d9d9d9");
        root.style.setProperty("--btnExpand", "#f0f0f0");
        root.style.setProperty("--bg-navbar-desktop", "#ffffff33");

        root.style.setProperty("--bg-firstCircle", "#a3b5ff");
        root.style.setProperty("--bg-secondCircle", "pink");

        root.style.setProperty("--bg-cardSkill", "#ffffff53");
        root.style.setProperty("--border-cardSkill", "#ffffff4b");*/

        btnMobileLight.classList.add("hidden");
        btnMobileDark.classList.remove("hidden");

        btnDesktopLight.classList.add("hidden");
        btnDesktopDark.classList.remove("hidden");
      }

      btnMobileDark.addEventListener("click", makeDark);
      btnMobileLight.addEventListener("click", makeLight);

      btnDesktopDark.addEventListener("click", makeDark);
      btnDesktopLight.addEventListener("click", makeLight);
    </script>
  </body>
</html>
