---
import '../App.css';
import GradualBlurMemo from '@src/components/GradualBlur';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.tsx';
import Projects from '../components/Projects.astro';
import Welcome from '@src/components/Welcome.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='google' content='notranslate' />
    <meta http-equiv='Content-Language' content='en_US' />
    <link rel='icon' type='image/svg+xml' href='./favicon.webp' />
    <meta
      name='description'
      content='Who I am, some of my skills and projects that I had been created.'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />

    <title>Valencia Arcega &mdash; Portfolio</title>
  </head>
  <body>
    <GradualBlurMemo
      client:load
      target='page'
      position='bottom'
      height='7rem'
      strength={2}
      divCount={5}
      curve='bezier'
      exponential
      opacity={1}
    />
    <Welcome />
    <Projects />
    <Experience />
    <Footer />

    <!-- <div
      class='fixed top-8 z-50! rounded-full flex justify-between items-center left-[50%] translate-x-[-50%] w-fit'
    >
      <GlassSurface client:load width={402} height={64} borderRadius={50}>
        <img
          src='./favicon.webp'
          class='self-center justify-self-center size-10'
          alt='Logo on Navigation Bar'
        />
        <aside class='flex items-center gap-x-2 ml-20'>
          <a
            href='#projects'
            class='no-underline border-none outline-none px-5! transition-all flex items-center justify-between h-10 rounded-full text-base text-white duration-500 bg-transparent hover:bg-white hover:text-black'
          >
            Projects
          </a>
          <a
            href='#experience'
            class='no-underline border-none outline-none px-5! transition-all flex items-center justify-between h-10 rounded-full text-base text-white duration-500 bg-transparent hover:bg-white hover:text-black'
          >
            Experience
          </a>
        </aside>
      </GlassSurface>
    </div> -->

    <nav
      class='fixed top-8 z-50! px-4! h-16 bg-a950/70 backdrop-blur-xl rounded-full border border-a920 flex justify-between items-center left-[50%] translate-x-[-50%] w-fit gap-x-24'
    >
      <a href='https://www.instagram.com/valenciaarcega/' target='_blank'>
        <img
          src='./favicon.webp'
          class='self-center justify-self-center size-10'
          alt='Personal logo at navigation bar'
        />
      </a>
      <aside class='flex items-center gap-x-2'>
        <a
          href='#projects'
          class='no-underline border-none outline-none px-5! transition-all flex items-center justify-between h-10 rounded-full text-base text-white duration-500 bg-transparent hover:bg-white hover:text-black'
        >
          Projects
        </a>
        <a
          href='#experience'
          class='no-underline border-none outline-none px-5! transition-all flex items-center justify-between h-10 rounded-full text-base text-white duration-500 bg-transparent hover:bg-white hover:text-black'
        >
          Experience
        </a>
      </aside>
    </nav>
  </body>
</html>
