---
import "../App.css";
import Welcome from "@src/components/Welcome.astro";
import Projects from "@src/components/Projects.astro";
import Experience from "@src/components/Experience.astro";
import { PiGithubLogoDuotone, PiLinkedinLogoDuotone } from "react-icons/pi";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    <link rel="icon" type="image/svg+xml" href="./favicon.png" />
    <meta
      name="description"
      content="Who I am and projects that I had been created."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>Valencia | Portfolio</title>
  </head>

  <body>
    <Welcome />
    <Projects />
    <Experience />

    <footer class="h-20 mt-52 mb-5 flex flex-col gap-y-2 items-center">
      <main class="flex gap-x-4">
        <a
          class="decoration-transparent"
          target="_blank"
          href="https://www.linkedin.com/in/luis-angel-valencia-arcega-4827b9239"
        >
          <PiLinkedinLogoDuotone
            className="text-gray-400 hover:text-blue-400! transition-colors duration-700"
            size={48}
          />
        </a>
        <a
          class="decoration-transparent"
          target="_blank"
          href="https://github.com/ValenciaArcega"
        >
          <PiGithubLogoDuotone
            className="text-gray-400 hover:text-blue-400! transition-colors duration-700"
            size={48}
          />
        </a>
      </main>
      <p class="text-base text-white">2026. Valencia Arcega</p>
    </footer>
  </body>
</html>
