---
import "../css/Contact.css";
---

<div class="section-contact" id="ss">
  <h1>Contact <span class="textBlue"> me</span>.</h1>
  <div class="wrapper-contact-cards">
    <div class="cardContact">
      <div class="title-contact-container">
        <h2>Whatsapp</h2>
        <ion-icon class="social-card-svg" name="chatbubbles-outline"></ion-icon>
      </div>
      <a target="_blank" href="http://wa.me/+525525448735">Send Message</a>
    </div>

    <div class="cardContact">
      <div class="title-contact-container">
        <h2>Mail</h2>
        <ion-icon class="social-card-svg" name="mail-outline"></ion-icon>
      </div>
      <p id="myEmail" class="myEmail hidden">luis.valencia@baacc.mx</p>
      <button type="button" class="btnShowMail">Show Mail</button>
    </div>

    <div class="cardContact">
      <div class="title-contact-container">
        <h2>Telegram</h2>
        <ion-icon class="social-card-svg" name="chatbox-outline"></ion-icon>
      </div>
      <a target="_blank" href="https://t.me/valencia_arcega">Send Message</a>
    </div>
  </div>
</div>

<script>
  import CanvasConfetti from "canvas-confetti";

  window.addEventListener("DOMContentLoaded", () => {
    const btnShowMail = document.querySelector(".btnShowMail");
    const txt = document.querySelector("#myEmail");

    btnShowMail.addEventListener("click", function () {
      txt.classList.remove("hidden");
      btnShowMail.classList.add("hidden");
      CanvasConfetti();
    });
  });
</script>
