---
import "../css/Experience.css";
import { experience } from "../constants/experience";
---

<section class="sectionExperience" id="ss">
  <h1>Education <span class="textBlue"> & </span>Experience.</h1>
  <p class="sectionExperienceDescription">
    Where study and experience are <span class="hightlightExperienceDescription"
      >enhanced</span
    >. The places where the <span class="hightlightExperienceDescription"
      >mind
    </span> is <span style="text-decoration: underline;">formed</span>.
  </p>
  <main class="wrapperExperience">
    {
      experience.map((item) => (
        <article class="cardExperience">
          <header class="cardExperienceFancyBorderTop" />
          <Fragment set:html={item.icon} />
          <p>
            <strong>{item.title}</strong>
          </p>
          <h3>{item.description}</h3>
          <p set:html={item.footer} />
        </article>
      ))
    }
  </main>
</section>
