---
import "../css/Footer.css";
---

<!-- Footer -->
<footer class="footerApp">
  <main>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/luis-angel-valencia-arcega-4827b9239"
    >
      <img src="./footer/icon_footer_linkedin.svg" alt="linkedin logo" />
    </a>
    <a target="_blank" href="https://github.com/ValenciaArcega">
      <img src="./footer/icon_footer_github.svg" alt="gtihub logo" />
    </a>
    <!-- <a target="_blank" href="https://www.instagram.com/valencia.arcega/">
      <img src="./footer/icon_footer_instagram.svg" alt="instagram logo" />
    </a>
    <a target="_blank" href="https://www.facebook.com/valencia.arcega">
      <img src="./footer/icon_footer_facebook.svg" alt="facebook logo" />
    </a> -->
  </main>
  <p>2025. Valencia Arcega</p>
</footer>
