<footer class="h-20 mt-52 mb-5 flex flex-col items-center justify-center">
  <main>
    <a
      class="decoration-transparent"
      target="_blank"
      href="https://www.linkedin.com/in/luis-angel-valencia-arcega-4827b9239"
    >
      <img
        class="w-11"
        src="./footer/icon_footer_linkedin.svg"
        alt="linkedin logo"
      />
    </a>
    <a
      class="decoration-transparent"
      target="_blank"
      href="https://github.com/ValenciaArcega"
    >
      <img
        class="w-11"
        src="./footer/icon_footer_github.svg"
        alt="gtihub logo"
      />
    </a>
  </main>
  <p class="mt-2 text-base">2025. Valencia Arcega</p>
</footer>
