---

---

<section
  class="min-h-screen bg-linear-to-b from-[#1d1f21] to-[#121212] flex items-center justify-center relative"
>
  <article
    class="w-140 flex flex-col absolute gap-2 justify-center items-center"
  >
    <main
      class='h-45.5 w-45.5 bg-contain bg-[url("/user.webp")] relative rounded-[30%_70%_24%76%/_65%_28%_72%_35%]'
    >
    </main>

    <div class="h-[60%] w-[95%] mt-2 text-center">
      <h1 class="customTitle tracking-wider text-[2.7rem] text-white">
        Hello World!
      </h1>
      <p class="mt-1 text-[1.4rem] tracking-[-1px] leading-[1.7] text-gray-300">
        I<span class="text-blue-400">'</span>m Angel. <span
          class="bg-linear-to-r from-blue-400 via-purple-400 to-pink-400 bg-clip-text text-transparent"
        >
          Software Engineer{" "}
        </span>
        {" "}that loves to craft gorgeous system experiences<span
          class="text-blue-400">.</span
        >
      </p>
    </div>
  </article>

  <div
    class="bg-linear-to-b w-full from-transparent to-[#121212] absolute bottom-0 right-0 h-32 z-50"
  >
  </div>
</section>
