---
import "../css/Knowledges.css";
import JavaScript from "../components/icons/JavaScript.astro";
import TypeScript from "../components/icons/TypeScript.astro";
import CSS from "../components/icons/CSS.astro";
import HTML from "../components/icons/HTML.astro";
import React from "../components/icons/React.astro";
import Electron from "../components/icons/Electron.astro";
import Git from "../components/icons/Git.astro";
---

<section class="containerSkills" id="sk">
  <div class="bgCircles">
    <article class="circle"></article>
    <article class="circle"></article>
  </div>

  <section class="wrapperSkills">
    <h1 class="knowledges-h1">Some of my main <span>technologies</span>.</h1>

    <main class="skills">
      <article class="skill">
        <div>
          <JavaScript />
          JavaScript
        </div>

        <div>
          <TypeScript />
          TypeScript
        </div>

        <div>
          <CSS />
          CSS
        </div>

        <div>
          <HTML />
          HTML
        </div>
      </article>

      <article class="skill">
        <div>
          <React />
          ReactJS
        </div>
        <div>
          <React />
          React Native
        </div>

        <div>
          <Git />
          Git
        </div>

        <div>
          <Electron />
          Electron
        </div>
      </article>
    </main>
  </section>
</section>
