---
import "../css/Knowledges.css";
import {
  IconCSS,
  IconHTML,
  IconTypescript,
  IconJavascript,
  IconReact,
  IconCSharp,
  IconGit,
} from "./icons/technologies";
---

<section class="containerSkills" id="sk">
  <div class="bgCircles">
    <article class="circle"></article>
    <article class="circle"></article>
  </div>

  <section class="wrapperSkills">
    <h1 class="knowledges-h1">
      Some of my main <span style="text-decoration: underline"
        >technologies</span
      >.
    </h1>

    <main class="skills">
      <article class="skill">
        <div>
          <IconJavascript height="72" />
          JavaScript
        </div>

        <div>
          <IconTypescript height="72" />
          TypeScript
        </div>

        <div>
          <IconCSS height="72" } />
          CSS
        </div>

        <div>
          <IconHTML height="72" />
          HTML
        </div>
      </article>

      <article class="skill">
        <div>
          <IconReact height="68" />
          React
        </div>
        <div>
          <IconReact height="68" />
          React Native
        </div>

        <div>
          <IconGit height="70" />
          Git
        </div>

        <div>
          <IconCSharp height="72" />
          C# & .NET
        </div>
      </article>
    </main>
  </section>
</section>
