---
import "../css/Knowledges.css";
import {
  IconCSS,
  IconHTML,
  IconTypescript,
  IconJavascript,
  IconReact,
  IconCSharp,
  IconGit,
} from "./icons/technologies";
---

<section class="containerSkills" id="sk">
  <div class="bgCircles">
    <article class="circle"></article>
    <article class="circle"></article>
  </div>

  <section class="wrapperSkills">
    <h1 class="knowledges-h1">Some of my main <span>technologies</span>.</h1>

    <main class="skills">
      <article class="skill">
        <div>
          <IconJavascript />
          JavaScript
        </div>

        <div>
          <IconTypescript />
          TypeScript
        </div>

        <div>
          <IconCSS />
          CSS
        </div>

        <div>
          <IconHTML />
          HTML
        </div>
      </article>

      <article class="skill">
        <div>
          <IconReact />
          React
        </div>
        <div>
          <IconReact />
          React Native
        </div>

        <div>
          <IconGit />
          Git
        </div>

        <div>
          <IconCSharp />
          C# & .NET
        </div>
      </article>
    </main>
  </section>
</section>
