---
import "../css/Navbar.css";
---

<nav class="navBar-desktop">
  <img src="./favicon.png" alt="navigation bar icon" />

  <section class="navBar-desktop-options">
    <!-- <a class="topBar-anker"
                href="#sk">Skills</a> -->

    <a class="topBar-anker" href="#sp">Projects</a>

    <a class="topBar-anker" href="#ss">Contact</a>

    <button
      type="button"
      title="Button turn the dark mode"
      class="navBarBtnDark"
    >
      <ion-icon class="navbar-desktop-ion" name="bed-outline"></ion-icon>
    </button>

    <button
      type="button"
      title="Button turn the light mode"
      class="navBarBtnSun hidden"
    >
      <ion-icon class="navbar-desktop-ion" name="sunny-outline"></ion-icon>
    </button>
  </section>
</nav>
