---
import { IconMoon, IconSun } from "./generals";
import FlagMX from "./icons/FlagMX.astro";
import FlagUS from "./icons/FlagUS.astro";

const ankerCVBtn =
  "border-none outline-none bg-transparent no-underline text-base font-normal text-gray-500 hover:cursor-pointer hover:underline hover:!text-black hover:dark:!text-white";
---

<nav
  class="h-12 w-full px-4 fixed top-0 left-0 grid-cols-[10%_80%] backdrop-blur-sm z-[5] border-b-2 border-transparent border-solid border-b-gray-300 dark:border-b-[#212121] md:!grid hidden"
>
  <img
    src="./favicon.webp"
    class="self-center justify-self-center h-7"
    alt="Navigation bar my logo"
  />

  <section class="flex justify-self-end items-center" style="gap: 32px;">
    <input type="checkbox" id="toggleBannerCV" title="hey" />
    <label for="toggleBannerCV" class="btnDownloadCV"> Download CV </label>

    <article class="wrapperModalCV">
      <a
        class={ankerCVBtn}
        href="/assets/valenciaarcega-cv-es.pdf"
        download="valenciaarcega-cv-es.pdf"
      >
        <FlagMX />
        Versión en Español
      </a>
      <a
        class={ankerCVBtn}
        href="/assets/valenciaarcega-cv-en.pdf"
        download="valenciaarcega-cv-en.pdf"
      >
        <FlagUS />
        English version
      </a>
    </article>

    <a
      class="inline-block no-underline font-normal text-gray-500 dark:text-gray-200 hover:underline"
      href="#sp"
    >
      Projects
    </a>

    <a
      class="inline-block no-underline font-normal text-gray-500 dark:text-gray-200 hover:underline"
      href="#ss"
    >
      Experience
    </a>

    <button
      id="btnLightDesktop"
      type="button"
      title="Button turn the dark mode"
      class="border-none bg-transparent"
    >
      <IconMoon height={28} color="#4263eb" />
    </button>

    <button
      id="btnDarkDesktop"
      type="button"
      title="Button turn the light mode"
      class="border-none bg-transparent hidden"
    >
      <IconSun height={28} />
    </button>
  </section>
</nav>

<style>
  .btnDownloadCV {
    border: none;
    outline: none;
    background: none;
    color: var(--frText);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  .wrapperModalCV {
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bgWhite);
    position: absolute;
    top: 3.3rem;
    right: 20%;
    z-index: 5;
    display: none;
    gap: 1rem;
    flex-direction: column;
  }

  .wrapperModalCV a {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  #toggleBannerCV {
    display: none;
  }
  #toggleBannerCV:checked ~ .wrapperModalCV {
    display: flex;
  }
</style>
