---
import '../css/Projects.css';
import { IconReact } from './icons/technologies';
import { Project } from './projects/Project';
import {
  PiAppStoreLogoDuotone,
  PiCodeDuotone,
  PiQrCodeDuotone,
  PiRocketDuotone,
} from 'react-icons/pi';
import {
  firstProjectsSet,
  secondProjectsSet,
  thirdProjectsSet,
} from '@src/constants/slider-projects';

const sideMaskLeft =
  'absolute top-0 left-0 h-full w-[22%] sm:w-[30%] z-40 bg-[linear-gradient(to_right,_#fff_4%,_transparent)] dark:bg-[linear-gradient(to_right,_#121212_4%,_transparent)]';
const sideMaskRight =
  'absolute top-0 left-auto right-0 h-full w-[22%] sm:w-[30%] z-40 bg-[linear-gradient(to_left,_#fff_4%,_transparent)] dark:bg-[linear-gradient(to_left,_#121212_4%,_transparent)]';
---

<section class='pt-72 bg-a0 dark:bg-a950' id='projects'>
  <section class='w-full flex flex-col' style='container-type: inline-size;'>
    <header class='self-center w-[68%] flex flex-row relative justify-center'>
      <div
        class='ml-2 size-20 rounded-xl grid place-content-center border-[1px] border-solid border-a200 dark:border-a900 -rotate-[20deg] bg-transparent'
      >
        <PiRocketDuotone className='text-5xl text-gray-300' />
      </div>
      <div
        class='-ml-4 -mt-10 scale-125 z-50 w-20 max-h-24 rounded-xl grid place-content-center bg-a0 shadow-2xl dark:bg-gradient-to-t dark:from-[#191919] dark:to-[#272727] overflow-hidden'
      >
        <PiAppStoreLogoDuotone
          className='text-6xl text-blue-400 dark:text-blue-500'
        />
      </div>
      <div
        class='-ml-4 size-20 rounded-xl grid place-content-center border-[1px] border-solid border-a200 dark:border-a900 rotate-[40deg] bg-transparent'
      >
        <PiCodeDuotone className='text-5xl text-gray-300' />
      </div>
    </header>
    <article
      class='text-[2rem] mt-6 md:text-[5rem] text-center flex flex-col items-center md:maskProjectsTitle md:dark:maskProjectsTitleDark'
    >
      <h1 class='dark:text-white tracking-tight'>In Production!</h1>
    </article>

    <article
      class='mt-16 pt-10 relative grid gap-x-[1rem] gap-y-[2.2rem] grid-cols-[repeat(auto-fit,_minmax(21rem,_1fr))] w-full items-center justify-items-center bg-gradient-to-t from-[#fff] to-[#fff] dark:bg-gradient-to-t dark:from-[#101010] dark:to-[#151515]'
    >
      <main class='py-10'>
        <article
          class='w-[23rem] rounded-xl shadow-md shadow-black/10 dark:shadow-none p-4 bg-white'
        >
          <img
            src='./logos/flego.png'
            class='w-10'
            alt='Flego application logo'
          />
          <h2
            class='text-xl text-transparent bg-clip-text font-semibold tracking-tight bg-gradient-to-b from-a500 to-black'
          >
            Flego
          </h2>
        </article>
      </main>

      <header
        class='absolute left-1/2 top-0 w-[80%] h-[1px] select-none pointer-events-none -translate-x-1/2 bg-gradient-to-r from-transparent via-[#cdccccab] to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-[#c6c6c6ab] dark:to-transparent'
      >
      </header>

      <!-- <Project
        description='it is a website to save your ideas. Easy, clean and fast'
        urlImage='./fare-logo.svg'
        name='Fare'
        urlSite='https://valenciaarcega.github.io/fare/'
        urlRepo='https://github.com/ValenciaArcega/fare'
      />

      <Project
        description='it is a website to learn English with cards'
        urlImage='./tolescro-logo.svg'
        name='Tolescro'
        urlSite='https://valenciaarcega.github.io/tolescro/'
        urlRepo='https://github.com/ValenciaArcega/tolescro'
      /> -->
    </article>
  </section>
</section>

<section
  class='relative py-32 flex justify-center w-full items-center dark:bg-[#101010]'
>
  <!-- Circles behind blur view -->
  <div class='h-12 w-12 bg-[#04ddff] rounded-full'></div>
  <div class='h-12 w-12 bg-[#1899ff] rounded-full'></div>

  <div
    class='absolute inset-0 flex gap-y-3 backdrop-blur-2xl flex-col items-center justify-center'
  >
    <IconReact className='spin-scale' height='84' />
    <h1
      class='text-3xl text-center text-black dark:text-white font-medium tracking-tight'
    >
      So much
      <span class='text-[#00D8FF]'>Native</span> magic<span
        class='text-[#00D8FF]'>.</span
      >
    </h1>
    <p class='text-gray-400 mt-2 px-[1rem] text-center'>
      A little taste of my work and the apps I had done.
    </p>
  </div>
</section>

<section
  class='dark:bg-gradient-to-b dark:from-[#101010] dark:to:black w-full text-center overflow-hidden relative'
>
  <article class='wrapperSlider'>
    {
      firstProjectsSet.map((item) => (
        <img
          class='projectInSliderLeft !max-h-[412px]'
          src={item.uri}
          alt={item.alt}
        />
      ))
    }
  </article>

  <article class='wrapperSlider'>
    {
      secondProjectsSet.map((item) => (
        <img
          class='projectInSliderRight !max-h-[412px]'
          src={item.uri}
          alt={item.alt}
        />
      ))
    }
  </article>
</section>
