---
import "../css/Projects.css";
import Star from "./icons/Star.astro";
---

<section class="container-knowledgesCards" id="sp">
  <section class="sectionKnowledges">
    <h1 class="projects-h1">
      My personal <span class="textBlue-onBlack">projects</span>.
    </h1>
    <article class="cardKnowledges">
      <div class="cardKnowledgesBorder"></div>
      <!-- <div class="cardKnowledgesBg"></div> -->

      <article class="projectMain">
        <img src="./fare-logo.svg" alt="Fare web site logo" width="64" />
        <p>
          <span>Fare</span> it is a website to save your ideas. Easy, clean and fast.
        </p>

        <footer class="wrapperBtnsProjectMain">
          <a target="_blank" href="https://valenciaarcega.github.io/fare/"
            >Discover Fare</a
          >
          <a target="_blank" href="https://github.com/ValenciaArcega/fare"
            >Give <Star /> in Github</a
          >
        </footer>
      </article>

      <article class="projectMain">
        <img
          src="./tolescro-logo.svg"
          alt="Tolescro web site logo"
          width="64"
        />
        <p>
          <span>Tolescro</span> it is a website to scroll and learn English with
          cards.
        </p>

        <footer class="wrapperBtnsProjectMain">
          <a target="_blank" href="https://valenciaarcega.github.io/tolescro/"
            >Discover Tolescro</a
          >
          <a target="_blank" href="https://github.com/ValenciaArcega/tolescro"
            >Give <Star />in Github</a
          >
        </footer>
      </article>
    </article>
  </section>
</section>
<section class="containerProjects">
  <h2 class="projects-h2">
    The <span class="textBlue-onBlack">big ones</span>.
  </h2>
  <p>UI's built with React and vanilla CSS</p>

  <section class="wrapperSlider">
    <aside class="sideLeftBlur"></aside>
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-cloudServices.webp"
      alt="UI Cloud services app"
    />
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-social.webp"
      alt="UI Social media app"
    />
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-dating.webp"
      alt="UI Dating app"
    />
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-bank.webp"
      alt="UI Bank app"
    />
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-gadgets.webp"
      alt="UI Gadgets shop app"
    />
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-mechanic.webp"
      alt="UI Mechanic tools shop app"
    />
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-login01.webp"
      alt="UI Login"
    />
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-login02.webp"
      alt="UI Register form"
    />
    <img
      class="projectInSliderRight"
      src="./interfaces-web/portfolio-UI-login03.webp"
      alt="UI Register form"
    />
    <aside class="sideRightBlur"></aside>
  </section>

  <p style="padding-top: 4rem;">UI's built in Java with Swing and AWT</p>

  <section class="wrapperSlider">
    <aside class="sideLeftBlur"></aside>
    <img
      class="projectInSliderLeft"
      src="./interfaces-java/UI_space.webp"
      alt="UI Space explorer in Java"
    />
    <img
      class="projectInSliderLeft"
      src="./interfaces-java/UI_dentist.webp"
      alt="UI Dentist booking in Java"
    />
    <img
      class="projectInSliderLeft"
      src="./interfaces-java/UI_weather.webp"
      alt="UI Weather in Java"
    />
    <img
      class="projectInSliderLeft"
      src="./interfaces-java/UI_games.webp"
      alt="UI Games store in Java"
    />
    <img
      class="projectInSliderLeft"
      src="./interfaces-java/UI_weather_home.webp"
      alt="UI Weather in Java"
    />
    <img
      class="projectInSliderLeft"
      src="./interfaces-java/UI_airport.webp"
      alt="UI Airport ticket in Java"
    />
    <aside class="sideRightBlur"></aside>
  </section>
</section>
