---
import '../css/Projects.css';
import { IconReact } from './icons/technologies';
import Project from './Project';
import {
  PiAppStoreLogoDuotone,
  PiCodeDuotone,
  PiRocketDuotone,
} from 'react-icons/pi';
import {
  firstProjectsSet,
  secondProjectsSet,
} from '@src/constants/slider-projects';
---

<section class='pt-52' id='projects'>
  <section class='w-full flex flex-col' style='container-type: inline-size;'>
    <header class='self-center w-[68%] flex flex-row relative justify-center'>
      <div
        class='ml-2 w-20 h-28 rounded-xl grid place-content-center border border-solid border-a900 -rotate-12 bg-transparent'
      >
        <PiRocketDuotone className='text-5xl text-gray-300' />
      </div>
      <div
        class='-ml-4 -mt-3 scale-125 z-50 w-20 max-h-24 rounded-xl grid place-content-center shadow-2xl bg-linear-to-t from-a930 to-a900 overflow-hidden border border-a700'
      >
        <PiAppStoreLogoDuotone className='text-6xl text-blue-500' />
      </div>
      <div
        class='-ml-4 w-20 h-28 rounded-xl grid place-content-center border border-solid border-a900 rotate-20 bg-transparent'
      >
        <PiCodeDuotone className='text-5xl text-gray-300 rotate-44' />
      </div>
    </header>

    <article
      class='text-[2rem] mt-6 md:text-[3rem] text-center flex flex-col items-center md:maskProjectsTitle md:dark:maskProjectsTitleDark'
    >
      <h1 class='font-medium text-white tracking-tight'>In Production!</h1>
    </article>

    <article
      class='mt-16 pt-32 relative grid gap-x-4 gap-y-[2.2rem] grid-cols-[repeat(auto-fit,minmax(21rem,1fr))] w-full justify-items-center bg-linear-to-t from-[#101010] to-[#151515]'
    >
      <header
        class='absolute left-1/2 top-0 w-[80%] h-px select-none pointer-events-none -translate-x-1/2 translate-y-1/2 self-center bg-linear-to-r from-transparent via-gray-500 to-transparent'
      >
      </header>
      <Project
        name='Flego'
        platform='multiplatform'
        tint='green'
        urlAppStore='https://apps.apple.com/mx/app/flego-tu-flete-de-regreso/id6746598808'
        urlPlayStore='https://play.google.com/store/apps/details?id=app.torreydlc.flego'
        urlImage='./logos/flego.png'
        authorsBackend='Edson Reyes & Josue Cazares'
        poweredBy='Torrey DLC & BAACC Systems'
      />
      <Project
        name='Connie'
        platform='multiplatform'
        tint='yellow'
        urlAppStore='https://apps.apple.com/mx/app/connie-ia/id6747147819'
        urlPlayStore='https://play.google.com/store/apps/details?id=app.baaccsystems.connieia'
        urlImage='./logos/connie.png'
        authorsBackend='Edson Reyes & David Herrera'
        poweredBy='BAACC Systems'
      />
      <Project
        name='Tolescro'
        platform='web'
        tint='blue'
        urlImage='./tolescro-logo.svg'
        urlWeb='https://valenciaarcega.github.io/tolescro/'
        ankerRepo='https://github.com/ValenciaArcega/tolescro'
      />
    </article>
  </section>

  <header
    class='absolute left-1/2 top-0 w-[80%] h-px select-none pointer-events-none -translate-x-1/2 bg-linear-to-r from-transparent via-[#c6c6c6ab] to-transparent'
  >
  </header>

  <!-- <Project
        description='it is a website to save your ideas. Easy, clean and fast'
        urlImage='./fare-logo.svg'
        name='Fare'
        urlSite='https://valenciaarcega.github.io/fare/'
        urlRepo='https://github.com/ValenciaArcega/fare'
      />
-->
</section>

<section
  class='relative py-32 flex justify-center w-full items-center bg-[#101010]'
>
  <!-- Circles behind blur view -->
  <div class='h-12 w-12 bg-[#04ddff] rounded-full'></div>
  <div class='h-12 w-12 bg-[#1899ff] rounded-full'></div>

  <div
    class='absolute inset-0 flex gap-y-3 backdrop-blur-2xl flex-col items-center justify-center'
  >
    <IconReact className='spin-scale' height='84' />
    <h1 class='text-3xl text-center text-white font-medium tracking-tight'>
      So much
      <span class='text-[#00D8FF]'>Native</span> magic<span
        class='text-[#00D8FF]'>.</span
      >
    </h1>
    <p class='text-gray-400 mt-2 px-4 text-center'>
      A little taste of my work and the apps I had done.
    </p>
  </div>
</section>

<section
  class='bg-linear-to-b from-[#101010] to:black w-full text-center overflow-hidden relative'
>
  <article class='wrapperSlider'>
    {
      firstProjectsSet.map((item) => (
        <img
          class='projectInSliderLeft max-h-103!'
          src={item.uri}
          alt={item.alt}
        />
      ))
    }
  </article>

  <article class='wrapperSlider'>
    {
      secondProjectsSet.map((item) => (
        <img
          class='projectInSliderRight max-h-103!'
          src={item.uri}
          alt={item.alt}
        />
      ))
    }
  </article>
</section>
