---
import "../css/Topbar.css";
---

<nav class="topBar">
  <button
    type="button"
    title="Button turn the dark mode"
    class="topBar-btnDark"
  >
    <ion-icon class="topBar-btnSVG" name="bed-outline"></ion-icon>
    <p class="topBar-btn-p">Night</p>
  </button>

  <button
    type="button"
    title="Button turn the light mode"
    class="topBar-btnLight hidden"
  >
    <ion-icon class="topBar-btnSVG" name="sunny-outline"></ion-icon>
    <p class="topBar-btn-p">Day</p>
  </button>

  <a class="topBar-anker" href="#sk">
    <ion-icon class="topBar-btnSVG" name="code-slash-outline"></ion-icon>
    <p class="topBar-anker-p">Skills</p>
  </a>

  <a class="topBar-anker" href="#sp">
    <ion-icon class="topBar-btnSVG" name="folder-outline"></ion-icon>
    <p class="topBar-anker-p">Projects</p>
  </a>

  <a class="topBar-anker" href="#ss">
    <ion-icon class="topBar-btnSVG" name="chatbubble-outline"></ion-icon>
    <p class="topBar-anker-p">Contact</p>
  </a>
</nav>
