---
import "../css/Welcome.css";
---

<section
  class="min-h-screen bg-linear-to-b from-a930 to-a950 flex items-center justify-center relative"
>
  <article
    class="w-140 flex flex-col absolute gap-2 justify-center items-center"
  >
    <main
      class='h-45.5 w-45.5 bg-contain bg-[url("/user.webp")] relative rounded-[30%_70%_24%76%/_65%_28%_72%_35%] welcomeUserImg'
    >
    </main>

    <footer class="h-[60%] w-[95%] mt-2 text-center">
      <h1
        class="font-mono font-bold text-[2.7rem] tracking-[-1.3px] text-white"
      >
        Hello <span class="text-blue-400">World</span>!
      </h1>
      <p
        class="mt-2 text-[1.45rem] tracking-[-1px] leading-[1.7] text-gray-300"
      >
        I<span class="text-blue-400">'</span>m Angel. <span
          class="animated-text"
        >
          Software Engineer
        </span>
        that loves to craft gorgeous <span class="text-blue-400">software</span>
        experiences<span class="text-blue-400">.</span>
      </p>
    </footer>
  </article>

  <div
    class="bg-linear-to-b w-full from-transparent to-a950 absolute bottom-0 right-0 h-32 z-50"
  >
  </div>
</section>
