---
import "../css/Welcome.css";
import {
  IconCSS,
  IconJavascript,
  IconReact,
  IconTailwind,
  IconTypescript,
} from "./icons/technologies";
---

<script>
  window.addEventListener("DOMContentLoaded", function () {
    const img: HTMLElement = document.querySelector(".welcomeUserImg");
    const height = img.clientHeight;
    const width = img.clientWidth;

    img.addEventListener("mousemove", function (e) {
      const { layerX, layerY } = e;
      const yRotation = ((layerX - width / 2) / width) * 46;
      const xRotation = ((layerY - height / 2) / height) * 46;
      const string = `
        perspective(500px)
        scale(1.1)
        rotateX(${xRotation}deg)
        rotateY(${yRotation}deg)`;

      img.style.transform = string;
    });

    img.addEventListener("mouseout", function () {
      img.style.transform = `
		perspective(500px)
		scale(1)
		rotateX(0)
		rotateY(0)`;
    });
  });
</script>
<main class="main-welcome">
  <article class="container-welcome">
    <div class="welcomeUserImg">
      <div class="wrapperBubbleWelcome">
        <div class="bubble">
          <IconTypescript height="28" />
        </div>
      </div>

      <div class="wrapperBubbleWelcome">
        <div class="bubble">
          <IconReact height="28" />
        </div>
      </div>

      <div class="wrapperBubbleWelcome">
        <div class="bubble">
          <IconTailwind height="30" />
        </div>
      </div>
    </div>

    <!-- <img src="./user.webp" alt="User" class="welcome-img" /> -->
    <div class="wrapper-welcome-text">
      <h1 class="welcome-text-h1">
        I<span class="textBlue">'</span>m <span class="textBlue">Angel</span>.
      </h1>
      <p class="welcome-text-p">
        <span class="animated-text"> Software Engineer</span> & frontend developer,
        that loves to build gorgeous <span class="textBlue">software</span>
        experiences<span class="textBlue">.</span>
      </p>
    </div>
  </article>
</main>
