.section-contact {
	margin-top: 15rem;
	padding-bottom: 1rem;
}

.section-contact h1 {
	width: 100%;
	padding: 8rem .5rem 1rem .5rem;
	font-size: 3.2rem;
	letter-spacing: -1px;
	line-height: .9;
	text-align: center;
}

.wrapper-contact-cards {
	margin-top: 1.6rem;
	display: grid;
	gap: 2rem 0;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	align-items: center;
	justify-items: center;
}

.cardContact {
	height: 7.8rem;
	width: 17rem;
	margin: 0 1rem;
	border-radius: 12px;
	border: solid 1px var(--borderCardContact);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--black12);
	background: var(--bgWhite);
}

.title-contact-container {
	height: 55%;
	width: 100%;
	display: grid;
	grid-template-columns: 70% 1fr;
	align-items: center;
	justify-items: center;
}

.cardContact h2 {
	width: 75%;
	font-size: 1.7rem;
	font-weight: 600;
	letter-spacing: -1px;
}

.social-card-svg {
	font-size: 24px;
	color: var(--mainColor);
}

#myEmail {
	height: 2.2rem;
	margin-top: .4rem;
	font-size: 1.1rem;
}

.cardContact button,
.cardContact a {
	height: 2.3rem;
	width: 75%;
	border-radius: 8px;
	font-size: 1.1rem;
	font-family: 'Inter';
	border: none;
	text-decoration: none;
	text-align: center;
	color: var(--white);
	background-color: var(--mainColor);
	box-shadow: 0px 5px 15px rgba(67, 117, 197, 0.172);
	transition: transform .7s;
}

.cardContact a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardContact button:hover,
.cardContact a:hover {
	transform: scale(.96, .96);
}