.containerSkills {
	min-height: 70rem;
	overflow: hidden;
	position: relative;
}

.bgCircles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.circle {
	min-height: 26rem;
	min-width: 26rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-80%, -30%);
	border-radius: 50%;
	background-color: var(--bg-firstCircle);
	animation: moveCircle 9s linear infinite alternate;
}

@keyframes moveCircle {
	to {
		transform: translate(50vw, -30%);
	}

	from {
		transform: translate(-80%, -30%);
	}
}

.circle:last-child {
	transform: translate(-10%, -70%);
	background-color: var(--bg-secondCircle);
	animation: moveCircleTwo 9s linear infinite alternate;
}

@keyframes moveCircleTwo {
	to {
		transform: translate(-50vw, -70%);
	}

	from {
		transform: translate(-10%, -70%);
	}
}

.wrapperSkills {
	height: 100%;
	width: 100%;
	padding: 2rem;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-backdrop-filter: blur(96px);
	-o-backdrop-filter: blur(96px);
	-moz-backdrop-filter: blur(96px);
	backdrop-filter: blur(96px);
	z-index: 2;
	background-image: radial-gradient(#00000010 3%, transparent 0);
	background-size: 7rem 7rem;
}

.skills {
	height: 40rem;
	width: 100%;
	padding: 1rem;
	display: grid;
	justify-items: center;
	gap: 1.5rem 0;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

@media(max-width: 700px) {
	.skills {
		padding: 1rem 0;
	}
}

.skill {
	width: 20rem;
	height: 21rem;
	align-self: flex-start;
	border-radius: 1.5rem;
	border: 2px solid var(--border-cardSkill);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-items: center;
	background: var(--bg-cardSkill);

	& div {
		display: grid;
		gap: .5rem;
		justify-items: center;
	}
}

.skill div {
	display: grid;
	gap: .5rem;
	justify-items: center;
}

.skill:last-child {
	align-self: flex-end;
}

.knowledges-h1 {
	width: 90%;
	padding-top: 2rem;
	margin: 4rem 0 8px 0;
	font-size: 3rem;
	letter-spacing: -1.2px;
	line-height: 1.1;
	text-align: center;
	grid-column: -1/1;
}

.knowledges-h1 {
	color: var(--black);
	font-weight: 500;
}

.knowledges-h1 span {
	color: var(--mainColor);
}