.topBar {
	height: 3.6rem;
	width: 19rem;
	margin: 0;
	padding-top: 2px;
	border: 1px solid var(--borderNavBar);
	border-radius: .5rem;
	position: fixed;
	top: .9rem;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: 0px 22px 20px -20px #0000001f;
	z-index: var(--z-index-navbar);
}

/* ANKERS */
.topBar-anker {
	margin-top: -2px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.topBar-btnSVG {
	font-size: 24px;
	color: gray !important;
	--ionicon-stroke-width: 36px;
}

.navbar-desktop-ion {
	font-size: 24px;
	color: gray;
	/* color: #f6ed2f; */
	--ionicon-stroke-width: 36px;
}

/* BUTTONS */
.topBar-btnDark,
.topBar-btnLight {
	border: none;
	background: none;
	margin-top: -2px;
}

.navBarBtnSun,
.navBarBtnDark {
	border: none;
	background: none;
}

.topBar-btn-p,
.topBar-anker-p {
	font-family: 'Inter';
	font-size: 12px;
	font-weight: 500;
	margin-top: -3px;
	color: gray;
}