.animated-text {
  position: relative;
  border-radius: 0.6rem;
  display: inline-block;
}

.animated-text:before {
  content: "";
  width: 12rem;
  height: 1.5rem;
  position: absolute;
  border-radius: 0.6rem;
  filter: blur(22px);
  opacity: 0.6;
  z-index: 0;
}

.animated-text:before,
.animated-text {
  -moz-animation: color-animation 2s linear infinite;
  -o-animation: color-animation 2s linear infinite;
  -webkit-animation: color-animation 2s linear infinite;
  animation: color-animation 2s linear infinite;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-image: linear-gradient(-225deg,
      #609af8 30%,
      #35c4dc 60%,
      #b975f9 80%);
}

.animated-text {
  position: relative;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes color-animation {

  40%,
  to {
    background-position: -200%;
  }
}