@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import "tailwindcss";

@theme {
	--color-a0: #ffffff;
	--color-a10: #f2f2f7;
	--color-a50: #e9ecef;
	--color-a100: #dee2e6;
	--color-a200: #ced4da;
	--color-a300: #adb5bd;
	--color-a400: #868e96;
	--color-a500: #777777;
	--color-a600: #666666;
	--color-a700: #555555;
	--color-a800: #495057;
	--color-a900: #343a40;
	--color-a910: #212529;
	--color-a920: #202224;
	--color-a930: #1d1f21;
	--color-a940: #191b1c;
	--color-a950: #121212;
	--color-a990: #0a0a0a;
	--color-a1: #000000;
}

@layer utilities {
	.maskProjectsTitle {
		background: radial-gradient(circle farthest-corner at center center, #c0bebe 0%, #fff 44%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
	}

	.maskProjectsTitleDark {
		background: radial-gradient(circle farthest-corner at center center, #545454 0%, #181818 34%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
	}
}

:root {
	--bg: #121212;

	--text-selection-background: #f2f2f7;
	--text-selection-foreground: #181818;

	--gradientConicWelcomeBubble: conic-gradient(from -45deg,
			#171717 10%, #000, #171717 90%);
	--borderGradientConicWelcomeBubble: conic-gradient(from 20deg,
			transparent 60%, #6f6f6f, transparent);
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Inter", system-ui;
	background: var(--bg);
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: var(--text-selection-background);
	color: var(--text-selection-foreground);
}

.hidden {
	display: none;
}

@keyframes enteringMenuNavBar {
	0% {
		transform: scale(0.2) translateX(64px) translateY(-64px);
		opacity: 0;
	}

	60% {
		transform: scale(1.15);
		opacity: 1;
	}

	100% {
		transform: scale(1) translateX(0) translateY(0);
		opacity: 1;
	}
}

.keyframe-entering-navbar {
	animation: enteringMenuNavBar 0.5s ease;
}

.customTitle {
	font-family: "Righteous", sans-serif;
	font-weight: 400;
	font-style: normal;
}