@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";

@layer utilities {
  .maskProjectsTitle {
    background: radial-gradient(circle farthest-corner at center center, #c0bebe 0%, #fff 44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .maskProjectsTitleDark {
    background: radial-gradient(circle farthest-corner at center center, #545454 0%, #181818 34%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui;
  background: #121212;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #fff;
  color: #000;
}

.customTitle {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ===== Projects ===== */

.wrapperSlider {
  width: 100%;
  padding: 0 2rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2rem;
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
}

.projectInSliderRight,
.projectInSliderLeft {
  -webkit-animation: slide-to-right 30s linear infinite alternate;
  animation: slide-to-right 30s linear infinite alternate;
  max-height: 400px;
}

.projectInSliderLeft {
  -webkit-animation: slide-to-left 30s linear infinite alternate;
  animation: slide-to-left 30s linear infinite alternate;
}

@keyframes slide-to-right {
  0% {
    left: 0;
    transform: translateX(200%);
  }

  100% {
    left: 100%;
    transform: translateX(-200%);
  }
}

@keyframes slide-to-left {
  0% {
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    left: 100%;
    transform: translateX(100%);
  }
}

@media (max-width: 700px) {

  .projectInSliderRight,
  .projectInSliderLeft {
    -webkit-animation: none;
    animation: none;
    max-height: 400px;
  }

  .projectInSliderLeft {
    -webkit-animation: none;
    animation: none;
  }

  .wrapperSlider {
    position: relative;
    gap: 0 1.3rem;
    padding-inline: 3rem;
    justify-content: flex-start;
  }
}

.spin-scale {
  animation: spinAndScale infinite 10s alternate-reverse;
}

@keyframes spinAndScale {
  from {
    scale: 0.7;
    rotate: 0deg;
  }

  to {
    scale: 1;
    rotate: 360deg;
  }
}